
:root{
    --baccolor:#222f3e;
    --color:#ff9f43;
}
.loh{
    color: #be7869;
}
.loin{
    border-radius: 4px;
    width: 71%;
}
body{
    background-color: var(--baccolor);
}
.erorr{
    font-size: 20px;
    color: red;
    display: none;
}
.mig img{
    height: 300px;
}
.dov{
    background: url(./img/photo_2023-04-18_13-01-54.jpg) no-repeat;
    background-size: cover;
}
.homelog{
    width: 90%;
    height: 400px;
    background-color: var(--color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    box-shadow: 4px 0px 12px 0px #ff9f43;
}
.homelog img, .pgho img{
    width: 264px;
    margin: 5px;
    border-radius: 4px;
    height: 90%;
    /* box-shadow: 1px 1px 5px; */
    animation: name 3s infinite linear;
} 
@keyframes name{
    50%{
        transform: translate(0, 3px);
    }
    100%{
        transform: translate(0, 0px);
    }
}
.conr{
    text-align: center;
    color: var(--color);
}
.conr img{
    width: 30px;
}
.pgho{
    box-shadow: 1px 0px 13px 2px #ff9f43;
}
.pgho img{
    width: 200px;
}